[Unit]
Description=Ip2weather daemon
After=netwok.target

[Service]
Type=simple
ExecStart=/var/pyvenvs/ip2weather/bin/uwsgi --ini /usr/local/etc/ip2weather/ip2weather.ini
WorkingDirectory=/usr/local/ip2weather
KillSignal=SIGQUIT
User=root
MemoryLimit=512M
Restart=always

[Install]
WantedBy=multi-user.target
